<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULADORA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>CALCULADORA</h1>
    <form action="/calculate" method="post" onsubmit="return calculate()">
        <input type="text" name="expression" id="expression" placeholder="Digite a expressão matemática">
        <button type="submit">Calcular</button>
    </form>
    <div id="result">
        <textarea id="result-area" rows="5" cols="50" readonly></textarea>
    </div>

    <script>
        function calculate() {
            var expression = document.getElementById('expression').value;
            var result = eval(expression); // Apenas um exemplo, usar eval pode ser perigoso em ambientes não controlados
            document.getElementById('result-area').value = result;
            return false; // Para evitar que o formulário seja enviado
        }
    </script>
</body>
</html>
